<header class="header">
  <div class="logo">
    <%= link_to root_path do %>
      <h1>Recognized.io</h1>
    <% end %>
  </div>
  <%= link_to 'Sign In', 'http://app.recognized.io/sign_in', class: "signin-link" %>
  <%= link_to 'Sign Up', 'http://app.recognized.io/sign_up', class: "signup-link" %>
  <div class="banner-text">
    <h2>Revenue Recognition for <%= image_tag "stripe-logo.png", class: "stripe-logo", alt: "stripe" %></h2>
    <h3>A new experience in SaaS accounting.</h3>
    <br />
    <h3>Defferals are complex and a drain on your team's time, let us simplify things for you.</h3>
  </div>
</header>

<section class="common-problem">
  <div class=common-problem-text>
    <h3>A Common Problem</h3>
    <div>
      <h4>Anniversary billing is convenient for your customers, but if your company
        is not accounting for it properly you could be forced to retroactively
        change your books to comply with new <a href=" https://twitter.com/intent/follow?screen_name=recognizedio">#RevRec</a> regulations.</h4>
    </div>
  </div>
</section>

<section class="trusted-solution">
  <div class="solution-text">
    <h3>An Automated Solution</h3>
    <h4>By simply connecting your Stripe account and your accounting platform to <span class="company-name">Recognized.io</span>,
      you will be able to fully automate your revenue accounting.</h4>
      <br />
    <div class="trusted-lower-text">
      <h4>Trusted By:</h4>
    </div>
    <br />
    <ul class="bullets">
      <li class="bullet">
        <div class="bullet-content">
          <%= image_tag("insightly-logo.png", size: "150x70", alt: "insightly-logo") %>
          </div>
      </li>
      <li class="bullet">
        <div class="bullet-content">
          <%= image_tag("segmentio-logo.png", size: "150x70", alt: "segment-logo") %>
        </div>
      </li>
      <li class="bullet">
        <div class="bullet-content">
          <%= image_tag("nex.to-logo.png", size: "150x70", alt: "nexto-logo") %>
        </div>
      </li>
    </ul>

  </div>

  <div class="demo-space">
    <div class="demo-pic-border">
      <%= image_tag "demo-pic.jpg", class: "demo-pic" %>
    </div>
  </div>
</section>

<section class="feature-section">
  <h3>Features</h3>
  <ul class="bullets">
    <li class="bullet">
      <div class="bullet-content">
        <h2>Revenue Insights</h2>
        <ul>
          <li>Interactive Overview Graphs</li>
          <li>Customer Level Reporting</li>
        </ul>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-content">
        <h2>Exportable Reporting</h2>
        <ul>
          <li>Access Data in Familiar Spreadsheet View</li>
        </ul>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-content">
        <h2>Automatic Updates</h2>
        <ul>
          <li>Customer Add/Drops</li>
          <li>Plan Changes</li>
          <li>Refunds</li>
        </ul>
      </div>
    </li>
  </ul>


</section>

<section class="pricing-section">
    <h3>Public Beta</h3>
    <br />
    <h4>Sign up today for immediate access.  Connect your Stripe account and view your last 6 months at no charge.  If you like what you see then upgrade to "Professional" and have unlimited access and exportable spreadsheets.</h4>
    <br />
    <button><%= link_to "Let's Do This!", 'http://app.recognized.io/sign_up', class: "signup-link" %></button>


    <!-- <div class="cards">
  <div class="card">
    <div class="card-header">
      Free Plan
    </div>
    <div class="card-copy">
      <ul>
        <li>Number of previous accounting periods    6 </li>
        <li>Number of Users   1</li>
        <li>Downloadable RevRec spreadsheet   No</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Professional
    </div>
    <div class="card-copy">
      <ul>
        <li>Number of previous accounting periods    Unlimited </li>
        <li>Number of Users   Unlimited</li>
        <li>Downloadable RevRec spreadsheet   Yes</li>
      </ul>
      <p></p>
      <p><strong>Tier</stong> 	<strong>Active Customers</strong>	<strong>Price Per Month</strong></p>
      <p>Startup	Up to 50	$29.00</p>
      <p>Established	51 - 250	$79.00</p>
      <p>Growth	251 - 1000	$149.00</p>
      <p>Scale	1001 - 3000	$249.00</p>
      <p>Enterprise	Over 3001	Call</p>
    </div>
  </div> -->

</section>

<%= render 'shared/site_footer' %>
